pythonnet
colorama
mslex
mwparserfromhell
bs4
httpx
peewee
tabulate
requests
lxml
fuzzywuzzy
python-Levenshtein
scipy
numpy
furl
openai
# ./ExternalInfo/TouhouDbInfoProvider/touhoudb_api_client/
./Finalizer/ApiPushToDb/backend-api-client